<div class="container col-12 col-lg-10">
  <section class="banner" aria-label="Cinema banner"
    style="background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('List.jpg') %>)">
    <div class="banner__content text-center">
      <h1><%= @list.name %></h1>
      <p><%= pluralize(@list.bookmarks.count, "movie") %></p>
    </div>
  </section>
</div>

<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="h4 mb-0">Movies</h2>
  </div>

  <div class="row g-4">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-12 col-lg-6">
        <%= render "lists/movie_card", bookmark: bookmark %>
      </div>
    <% end %>
  </div>

  <h3 class="section-title">Add a new bookmark</h3>

<%= simple_form_for [@list, @bookmark], html: { class: "bookmark-form" } do |f| %>
  <div class="row g-3">
    <div class="col-12 col-md-8">
      <%= f.association :movie,
            collection: Movie.order(:title),
            label_method: :title,
            value_method: :id,
            prompt: "Choose a movie",
            input_html: { class: "form-select" } %>
    </div>

    <div class="col-12">
      <%= f.input :comment,
            label: "Type a comment",
            as: :text,
            input_html: { rows: 3, class: "form-control" } %>
    </div>

    <div class="col-12 text-end">
      <%= f.button :submit, "Save Bookmark", class: "btn btn-primary px-4" %>
    </div>
  </div>
<% end %>

  <div class="mt-4">
    <%= link_to "Back to lists", lists_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
